{% extends "admin/hapifis_admin_base.html" %}
{% load i18n admin_static %}

{% block hapifis_content %}
<form action="" method="post">{% csrf_token %}
    <div class="form-group">
        <p class="grp-description">{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
        {{ form.email }}
        {% if form.email.errors %}{{ form.email.errors }}{% endif %}
    </div>
    <div class="submit-row">
        <input type="submit" class="btn btn-default" value="{% trans 'Reset my password' %}" />
    </div>
</form>

<script type="text/javascript">
  document.getElementById('id_email').focus()
  document.getElementById('id_email').setAttribute('placeholder', 'Your Email Address')
  document.getElementById('id_email').setAttribute('class', 'form-control')
</script>
{% endblock %}
