{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block stylesheets %}
<link href="{{ STATIC_URL }}survey/lib/css/bootstrap.css" rel="stylesheet">
<style>
#grp-navigation {
    display: none;
}
img {
    margin-top: 2em;
}
h1 {
    text-align: center;
}
#login-form input,
#login-form li
#login-form p {
    float: right;
    margin-bottom: 1em;
    list-style-type: none;
}
#login-form input[type=text], input[type=password] {
    clear: right;
}
#login-row {
    width: 392px;
    margin: 0 auto;
}
.errorlist {
    color: red;
    list-style: none;
}
</style>
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div class="container">
    <div id="login-row" class="row">
        <img src="{{STATIC_URL}}survey/assets/img/hapifis.jpg"></img>
        <form action="" method="post">{% csrf_token %}
            <div class="form-group">
                <p class="grp-description">{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
                {{ form.email }}
                {% if form.email.errors %}{{ form.email.errors }}{% endif %}
            </div>
            <div class="submit-row">
                <input type="submit" class="btn btn-default" value="{% trans 'Reset my password' %}" />
            </div>
        </form>
</div>

  <script type="text/javascript">
    document.getElementById('id_email').focus()
    document.getElementById('id_email').setAttribute('placeholder', 'Your Email Address')
    document.getElementById('id_email').setAttribute('class', 'form-control')
  </script>
</div>
{% endblock %}
