<div ng-show="loaded" class="row">
    <div class="col-md-12">
        <table id="survey-landing-table" class="table table-striped">
            <tbody>
                <tr ng-repeat="survey in surveys">
                    <td><h4>{{survey.name}}</h4></td>
                    <td>
                        <h2 class="survey-num">{{survey.survey_responses}}</h2>
                        <p>Total</p>
                    </td>
                    <td>
                        <h2 class="survey-num">0</h2>
                        <p>Today</p>
                    </td>
                    <td>
                        <h2 class="survey-num">0</h2>
                        <p>Need Review</p>
                    </td>
                    <td>
                        <h2 class="survey-num">0</h2>
                        <p>Flagged</p>
                    </td>
                    <td ng-hide="confirmDelete">
                        <div class="btn-group">
                            <a target="_blank" class="btn btn-default icon-plus" href="/respond/{{survey.slug}}"></a>
                            <a class="btn btn-default icon-mobile-phone" href="/static/survey/mobile.html#/survey/{{survey.slug}}/{{survey.questions[0].slug}}/offline"></a>
                            <a class="btn btn-default icon-edit" href="#/author/{{ survey.slug }}"></a>
                            <a class="btn btn-default icon-trash" ng-click="confirmDelete = true"></a>
                        </div>
                    </td>
                    <td ng-show="confirmDelete">
                        <div class="btn-group">
                            <a class="btn btn-default btn-danger" ng-click="deleteSurvey(survey)">Delete</a>
                            <a class="btn btn-default" ng-click="confirmDelete = false">Cancel</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <a href="#/author"><button class="btn btn-success">New Survey</button></a>
    </div>
</div>
