<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tbody>
                <tr ng-repeat="survey in surveys">
                    <td><h4>{{survey.name}}</h4></td>
                    <td>
                        <h2>{{survey.survey_responses}}</h2>
                        <p>Total</p>
                    </td>
                    <td>
                        <h2>0</h2>
                        <p>Today</p>
                    </td>
                    <td>
                        <h2>0</h2>
                        <p>Need Review</p>
                    </td>
                    <td>
                        <h2>0</h2>
                        <p>Flagged</p>
                    </td>
                    <td class="btn-group">
                        <button type="button" class="btn btn-default">+</button>
                        <button type="button" class="btn btn-default">Phone</button>
                        <button type="button" class="btn btn-default">Edit</button>
                        <button type="button" class="btn btn-default">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button class="btn btn-success">New Survey</button>
    </div>
</div>
