<div ng-show="loaded" class="row">
    <div class="col-md-12">
        <table id="survey-landing-table" class="table table-striped">
            <tbody>
                <tr ng-repeat="survey in surveys">
                    <td><h4>{{survey.name}}</h4></td>
                    <td>
                        <h2 class="survey-num">{{survey.survey_responses}}</h2>
                        <p>Total</p>
                    </td>
                    <td>
                        <h2 class="survey-num">0</h2>
                        <p>Today</p>
                    </td>
                    <td>
                        <h2 class="survey-num">0</h2>
                        <p>Need Review</p>
                    </td>
                    <td>
                        <h2 class="survey-num">0</h2>
                        <p>Flagged</p>
                    </td>
                    <td class="btn-group" ng-hide="confirmDelete">
                        <a target="_blank"  class="btn btn-default" href="/respond/{{survey.slug}}">+</a>
                        <a class="btn btn-default" href="/static/survey/mobile.html#/survey/{{survey.slug}}/{{survey.questions[0].slug}}/offline">Phone</a>
                        <a class="btn btn-default" href="#/author/{{ survey.slug }}">Edit</a>
                        <a class="btn btn-default" ng-click="confirmDelete = true">Delete</a>
                    </td>
                    <td class="btn-group" ng-show="confirmDelete">
                        <a class="btn btn-default btn-danger" ng-click="deleteSurvey(survey)">Delete</a>
                        <a class="btn btn-default" ng-click="confirmDelete = false">Cancel</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <a href="#/author"><button class="btn btn-success">New Survey</button></a>
    </div>
</div>
