<div class="container">
    <div class="col-md-2" ng-include="viewPath + 'views/sideNav.html'"></div>
    <div class="col-md-10">
        <h1>{{ survey.name }}</h1>
        <h2>Overview</h2>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <div class="center-text col-md-2">
            <h2>{{meta.total_count}}</h2>
            <p>Responses Found</p>
        </div>
        <div class="col-md-8">
            <div start="filter.startDate" end="filter.endDate" range-slider></div>
        </div>
        <div id="market_status_filters" class="col-md-2">
            <select class="form-control">
                <option>All Markets</option>
                <option ng-repeat="market in markets">{{market}}</option>
            </select>
            <select class="form-control">
                <option>All Statuses</option>
                <option ng-repeat="status in statii"></option>
            </select>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <p ng-show="message">{{message}}</p>
        <div>
            <i ng-show="respondentsLoading" class="icon-spinner icon-spin"></i>
            <div class="btn-group">
                <button ng-class="{'active': surveyorTimeFilter == 'hourly'}"
                    type="button"
                    class="btn btn-default"
                    ng-click="surveyorTimeFilter='hourly'">Hourly</button>
                <button ng-class="{'active': surveyorTimeFilter == 'day'}"
                    type="button"
                    class="btn btn-default"
                    ng-click="surveyorTimeFilter='day'">Day</button>
                <button ng-class="{'active': surveyorTimeFilter == 'week'}"
                    type="button"
                    class="btn btn-default"
                    ng-click="surveyorTimeFilter='week'">Week</button>
                <button ng-class="{'active': surveyorTimeFilter == 'month'}"
                    type="button"
                    class="btn btn-default"
                    ng-click="surveyorTimeFilter='month'">Month</button>
            </div>
            <div id="surveyor_by_time_chart">
                <div time-series chart="surveyor_by_time"></div>
            </div>
        </div>
        <div class="respondent-table">
            <table class="table" ng-class="{ 'loading': respondentsLoading }">
                <tbody>
                    <tr>
                        <th>Surveyor</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Market</th>
                        <th>Vendor Name</th>
                        <th>Buyer/Fisher</th>
                        <th>Sales Type</th>
                        <th>Status</th>
                        <th>Detail</th>
                    </tr>
                    <tr ng-repeat="respondent in respondents">
                        <td>{{ respondent.user.username }}</td>
                        <td>{{ respondent.ts|validDate: 'dd-MM-yyyy' }}</td>
                        <td>{{ respondent.ts|validDate: 'HH:mm' }}</td>
                        <td>{{ respondent.survey_site }}</td>
                        <td>{{ respondent.vendor }}</td>
                        <td>{{ respondent.buy_or_catch }}</td>
                        <td>{{ respondent.how_sold }}</td>
                        <td></td>
                        <td><a href="#/RespondantDetail/{{survey.slug}}/{{ respondent.uuid }}">Responses ({{respondent.responses.length}})</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="respondant_list_survey_buttons" class="pull-right">
            <span ng-hide="respondentsLoading">
                Records {{meta.offset}} to 
                <span ng-show="(meta.offset+meta.limit) <= meta.total_count">{{meta.offset+meta.limit}}</span>
                <span ng-hide="(meta.offset+meta.limit) <= meta.total_count">{{meta.total_count}}</span> of {{ meta.total_count }}
            </span>
            <div class="btn-group">
                <button class="btn" ng-disabled="! meta.previous" ng-click="getRespondents(meta.previous)">Previous</button>
                <button class="btn" ng-disabled="! meta.next" ng-click="getRespondents(meta.next)">Next</button>
            </div>
            <div>
                <a href="#/search"><button class="btn"><i class="icon-search"></i> Search</button></a>
            </div>
        </div>
        <!-- <div class="row">
            <div heatmap question="question.slug"></div>
        </div> -->

        <!--
        <div ng-repeat="chart in charts" class="dash-chart">
            <h2>{{ chart.title }}</h2>
            <div class="error">{{ chart.message }}</div>
            <div ng-switch on="chart.type">
                <div ng-switch-when="bar-chart" bar-chart chart="chart"></div>
                <div ng-switch-when="stacked-column" stacked-column chart="chart"></div>
                <div ng-switch-when="time-series" time-series chart="chart"></div>
            </div>
        </div>
        -->

        <div class="row" ng-repeat="question in survey.questions">
            <div  ui-if="question.visualize">
                <div class="clearfix">
                    <div ng-repeat="filterQuestion in question.filterQuestions">
                        <select class="pull-right" placeholder="filter by {{ filterQuestion.slug }}" multiple=true ng-model="question.filters[filterQuestion.slug]" ui-select2 ng-hide="filterQuestion.slug == question.slug" style="width: 200px">
                            <option value="{{answer.answer}}" ng-repeat="answer in filterQuestion.answer_domain">
                                <strong>{{answer.answer}}</strong>
                            </option>
                        </select>
                    </div>
                    <dl ng-repeat="(slug, filter) in question.filters">
                        <dt>{{ slug }}:</dt>
                        <dd ng-show="filter.length" ng-repeat="filterItem in filter">{{filterItem}}</dd>
                        <dd ng-hide="filter.length">all</dd>
                    </dl>
                </div>
                <div ui-if="question.report_type == 'heatmap' || question.report_type == 'heatmap-distribution'">
                    <div heatmap question="question" filteritems="question.filters" class="heatmap"></div>
                </div>
                <div ui-if="question.report_type == 'distribution' || question.report_type == 'heatmap-distribution'">
                    <distribution filter="question.filters" question="question" survey-slug="survey.slug"></distribution>
                </div>
            </div>
        </div>
    </div>
</div>
