<div class="col-md-2 print-hide" id="sidenav_respondants">
    <div class="stats">
        <div class="row">
            <div class="col-md-12">
                <h1>{{survey.survey_responses}}</h1>
                <p>Total Respondants</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h1>{{survey.reviews_needed}}</h1>
                <p>Need Review</p>
            </div>
            <div class="col-md-6">
                <h1>{{survey.flagged}}</h1>
                <p>Flagged</p>
            </div>
        </div>
    </div>
    <div id="respondant_stats">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav">
                    <li><a ng-class="{'active': activePage == 'overview'}" href="#/RespondantList/{{survey.slug}}">Overview</a></li>
                        <!--<li>
                        <a ng-class="{'active': activePage == 'reports'}">Reports <span class="badge">soon</span></a>
                        <ul>-->
                    <li><a ng-class="{'active': activePage == 'economic'}" href="#/survey/{{survey.slug}}/reports/economic">Economic</a></li>
                    <li><a ng-class="{'active': activePage == 'biological'}" href="#/survey/{{survey.slug}}/reports/biological">Biological</a></li>
                    <li><a ng-class="{'active': activePage == 'survey-stats'}" href="#/RespondantList/{{survey.slug}}/survey-stats">Survey Stats</a></li>
                        <!--</ul> -->
                   <!--</li>
                    <li class="disabled"><a ng-class="{'active': activePage == 'search'}">Data <span class="badge">soon</span></a></li>
                    <li><a ng-class="{'active': activePage == 'download'}">Download</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
