<nav id="global-navbar" class="navbar navbar-static-top" role="navigation" ng-controller="SurveyListMenuCtrl" ng-cloak>
  <div class="container">
    <div class="navbar-header">
        <a href="#/"><img src="{{user.static_url}}survey/assets/img/hapifis-small.jpg"></img></a>
    </div>
    <a class="navbar-btn navbar-right btn btn-default" href="{{user.logout_url}}">Sign Out</a>
    <a ng-show="user.is_staff" class="navbar-btn navbar-right btn btn-info" href="{{user.admin_url}}">Admin</a>
    <p class="navbar-text navbar-right">Signed in as {{user.username}}</p>
  </div>
</nav>

