{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block stylesheets %}
<link href="{{ STATIC_URL }}survey/lib/css/bootstrap.css" rel="stylesheet">
<style>
#grp-navigation, #grp-navigation h1, #grp-context-navigation {
    display: none;
}
img {
    margin-top: 2em;
    margin-bottom: 2em;
}
h1 {
    text-align: center;
}
#login-form input,
#login-form li
#login-form p {
    float: right;
    margin-bottom: 1em;
    list-style-type: none;
}
#login-form input[type=text], input[type=password] {
    clear: right;
}
#login-row {
    width: 392px;
    margin: 0 auto;
}
</style>
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div class="container">
    <div id="login-row" class="row">
        <img src="{{STATIC_URL}}survey/assets/img/hapifis.jpg"></img>
        {% block hapifis_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
